body{
    margin: 0;
}
header{
    float: left;
    background-color: red;
    height: 100px;
    width: 100%;
}
nav{
    float: left;
    background-color: blue;
    height: 50px;
    width: 100%;
}
section{
    float: left;
    background-color: pink;
    height: 629px;
    float: left;
    width: 68%;
}
aside{
    float: right;
    background-color: violet;
    height: 629px;
    float: right;
    width: 30%;
}
footer{
    float: left;
    background-color: greenyellow;
    height: 100px;
    width: 100%;
}