body{
    margin: 0;
    
}
header{
    float: left;
    background-color: red;
    height: 10vh;
    width: 100vw;
}
nav{
    float: left;
    background-color: blue;
    height: 5vh;
    width: 100vw;
}
section{
    float: left;
    background-color: pink;
    height: 70vh;
    float: left;
    width: 75vw;
}
aside{
    float: right;
    background-color: violet;
    height: 70vh;
    float: right;
    width: 20vw;
}
footer{
    float: left;
    background-color: greenyellow;
    height: 15vh;
    width: 100vw;
}