@media (width >=320px) {
    body {
        background-color: aqua;
        margin: 10px;
    }
}

@media (min-width: 768px) {
    body {
        background-color: rgb(0, 255, 21);
    }
}

@media (min-width: 1024px) {
    body {
        background-color: rgb(255, 0, 0);
    }
}


@media (min-width: 320px) {
    .orange {
        display: flex;
        height: 10vh;
        width: 100%;
        background-color: orange;
        margin-top: 10px;
    }
    .green {
        height: 10vh;
        width: 100%;
        background-color: green;
        margin-top: 10px;
    }
    .blue {
        height: 10vh;
        width: 100%;
        background-color: blue;
        margin-top: 10px;
    }
    .gray {
        height: 10vh;
        width: 100%;
        background-color: gray;
        margin-top: 10px;
    }
    
}

@media (min-width: 768px) {
    .gray {
        float: left;
        background-color: gray;
        width: 49%;
        margin: 0.5%;
    }
}

@media (min-width: 1024px) {
    .orange{
        float: left;
        width: 24%;
        width: 48vw;
        margin: 0.5%;
    }
    .gray {
        background-color: gray;
        width: 24%;
        margin: 0.5%;
    }
    .blue {
        float: left;
        background-color: blue;
        width: 24%;
        margin: 0.5%;
        width: 31vw;
    }
    .green{
        float: left;
    }
    
}