body {
    margin: 0px;
}

.container {
    position: relative; /* Cambia display a position */
    right: 10px;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    margin: 20px;
    font-size: 30px;
    border: solid black 3px;
}

.box{
    position: relative; /* Cambia display a position */
    width: 20px;
    height: 20px;
    background-color: rgb(136, 255, 0);
    margin: 20px;
    border: 2px solid darkblue;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.box-1 {
    top: -34px;
    right: 97px;
}

.box-2 {
    top: -77px;
    left: 100px;
}

.box-3 {
    top: 80px;
    left: 100px;
}

.box-4 {
    top: 36px;
    left: -98px;
}
